# Dependências
node_modules/
package-lock.json

# Banco de dados
*.db
*.db-journal
backend/database/

# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Ambiente
.env
.env.local